<div class="mtg-card"
    (click)="toggleTap()"
    (dblclick)="doubleClick()"
    (mouseenter)="mouseOver($event)"
    (mouseleave)="mouseOver($event)"
    [ngClass]="{ 'tapped' : tapped, 'untapped' : !tapped, 'marked' : marked }" >

    <div class="flipping-image" [ngClass]="{ 'flipped' : flipped }">
      <div class="image">
        <div class="side front">
          <img [src]="card.image || card.lowest_print.image">
        </div>
        <div class="side back">
          <img [src]="backsideImage()" />
        </div>
      </div>
    </div>
</div>
