<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
    <a class="navbar-brand" href="http://goldfish.sboulema.nl/#">Goldfish</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://goldfish.sboulema.nl/#" data-toggle="modal" data-target="#helpModal">Help</a>
            </li>
        </ul>
    </div>

    <button type="button" id="show-deck-modal" class="btn btn-primary" data-toggle="modal" data-target="#deckModal">Load deck</button>                    
</nav>